.DateRangePicker {
    background: #fff0 !important
}

.DateRangePickerInput {
    background: #fff0 !important
}

.DateRangePickerInput * {
    background: #fff0 !important
}

.DateInput_input__small {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    padding: 2px 0px 2px 0px !important;
    font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.DateInput_input__focused {
    border-bottom-color: #24292e;
}

.DateInput__small {
    width: 80px !important;
    text-align: center;
}

.DateInput_input {
    text-align: center;
}

.dashboard_segment {
    background: #e8e8e840 !important;
}

.dashboard_segment__header {
    padding: 0 !important;
}

.dashboard_segment_mote__active {
    margin-right: 1em !important;
}

.dashboard_tabbed_content .tab {
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dashboard_segment__client_name {
    margin-left: 2em !important
}
